<!-- Main page for FoodReview -->
<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title> Title here please?</title>

  <!--Required for bootstrap responsive/fluid/auto-resize layouts-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../images/favicon.ico">
  <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="../css/orange.css" rel="stylesheet">

  <link rel="stylesheet" href="../FlipClockFiles/css/flipclock.css">



</head>

<body>

  <div class = "container-fluid" id="wrap">
    <!--Navigation bar at the top-->
    
    <div class = "navbar navbar-inverse">
      <div class = "navbar-inner">
        <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class = "brand" id = "brand" onmouseover="javascript:brandColour()" href = "/">Orange</a>

        <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed within .navbar-collapse.collapse. -->
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href = "/"><i class = "icon-home icon-white"></i> Home</a></li>
            <li><a href = "/search"><i class = "icon-book icon-white"></i> What?</a></li>
          </ul>
        </div>  <!--/nav collapse-->
      </div>  <!--/navbar inner rounded-->
    </div>  <!--/navbar rectangle-->


    <div class = "container-fluid" id="page">
      <div class = "row-fluid" id="page-content">

        <!--///////////////////////////////////////-->
        <!--//Page content goes here             //-->
        <!--///////////////////////////////////////-->

        <!--CLOCK AND STATS-->
        <div class = "row-fluid" id="clockstats">

          <ul class = "nav nav-tabs">
            <!--ihsan did this (WHAT?!?!?!?!?)-->
            <li class="active" id ="chooseclock"><a href = "#" data-toggle="tab">Stopwatch</a></li>
            <li id = "choosestopclock"><a href = "#" data-toggle="tab">Timer</a></li>
          </ul>

          <div class="span5 offset3" id="showclock">
            <div id= "clock"></div>
            <button id = "startstopclock" class="offset3">Start/Stop Clock</button>
          </div>
          
          <div class="span5 offset3" id="showstopclock">
            <div id="stopclock"></div>
            <div id = "storetimeentry">
              <input class="offset3" id = "timeentry" type = "text" placeholder = "Time in mins">
              <button id ="starttimer">Submit</button>  
            </div>
          </div>
      
          <!--For Debugging Clock <p id="checkClockTime">Time</p>-->  

        </div>  <!--/clock and stats-->


        <!--Table Here-->
        <div id="chart_div"></div>
        <!--Table Ends-->


        <!--ANIMATION AND ENTRY-->
        <div class = "row-fluid">

          <!--ANIMATION HERE-->
          <div class = "span4" id="anim">
            <canvas id="myCanvas"></canvas>
          </div>

          <!--WORD ENTRY HERE-->
          <div class="span4" id="wordentrydiv">
            <form action="javascript:wordClick()">
              <input id="wordentry" type="text" placeholder="Enter a word or phrase">
              <button type="submit" class="btn">Submit</button>
            </form>
          </div>

        </div>  <!--/animation and entry-->

        <!--WORD GRID HERE-->
        <div class = "row-fluid"
          style="margin-left: 20%;
          width: 550px;">
           <div class = "row-fluid text-center wordrow">
             <div class = "span4 word hide" id="word1">
              <a class = "pull-right" href = "javascript:removeWord(1)" onmouseover = "javascript:hoverRemove(1)" onmouseout="javascript:hoverRemove(1)"><i class = "icon-remove icon-white"></i></a>
               <h3 class = "text-left">Word1</h3>
               <h3 class = "text-right" id="count1">0</h3>
               <p><a class="btn btn-info" href="javascript:counter(1)">Click &raquo;</a></p>
             </div>
             <div class = "span4 word hide" id="word2">
              <a class = "pull-right" href = "javascript:removeWord(2)" onmouseover = "javascript:hoverRemove(2)" onmouseout="javascript:hoverRemove(2)"><i class = "icon-remove icon-white"></i></a>
               <h3 class = "text-left">Word2</h3>
               <h3 class = "text-right" id="count2">0</h3>
               <p><a class="btn btn-info" href="javascript:counter(2)">Click &raquo;</a></p>
             </div>
             <div class = "span4 word hide" id="word3">
              <a class = "pull-right" href = "javascript:removeWord(3)" onmouseover = "javascript:hoverRemove(3)" onmouseout="javascript:hoverRemove(3)"><i class = "icon-remove icon-white"></i></a>
               <h3 class = "text-left">Word3</h3>
               <h3 class = "text-right" id="count3">0</h3>
               <p><a class="btn btn-info" href="javascript:counter(3)">Click &raquo;</a></p>
             </div>
           </div>  <!--/row-->
           <div class = "row-fluid text-center wordrow">
             <div class = "span4 word hide" id="word4">
              <a class = "pull-right" href = "javascript:removeWord(4)" onmouseover = "javascript:hoverRemove(4)" onmouseout="javascript:hoverRemove(4)"><i class = "icon-remove icon-white"></i></a>
               <h3 class = "text-left">Word4</h3>
               <h3 class = "text-right" id="count4">0</h3>
               <p><a class="btn btn-info" href="javascript:counter(4)">Click &raquo;</a></p>
             </div>
             <div class = "span4 word hide" id="word5">
              <a class = "pull-right" href = "javascript:removeWord(5)" onmouseover = "javascript:hoverRemove(5)" onmouseout="javascript:hoverRemove(5)"><i class = "icon-remove icon-white"></i></a>
               <h3 class = "text-left">Word5</h3>
               <h3 class = "text-right" id="count5">0</h3>
               <p><a class="btn btn-info" href="javascript:counter(5)">Click &raquo;</a></p>
             </div>
             <div class = "span4 word hide" id="word6">
              <a class = "pull-right" href = "javascript:removeWord(6)" onmouseover = "javascript:hoverRemove(6)" onmouseout="javascript:hoverRemove(6)"><i class = "icon-remove icon-white"></i></a>
               <h3 class = "text-left">Word6</h3>
               <h3 class = "text-right" id="count6">0</h3>
               <p><a class="btn btn-info" href="javascript:counter(6)">Click &raquo;</a></p>
             </div>
           </div>  <!--/row-->
           <div class = "row-fluid text-center wordrow">
             <div class = "span4 word hide" id="word7">
              <a class = "pull-right" href = "javascript:removeWord(7)" onmouseover = "javascript:hoverRemove(7)" onmouseout="javascript:hoverRemove(7)"><i class = "icon-remove icon-white"></i></a>
               <h3 class = "text-left">Word7</h3>
               <h3 class = "text-right" id="count7">0</h3>
               <p><a class="btn btn-info" href="javascript:counter(7)">Click &raquo;</a></p>
             </div>
             <div class = "span4 word hide" id="word8">
              <a class = "pull-right" href = "javascript:removeWord(8)" onmouseover = "javascript:hoverRemove(8)" onmouseout="javascript:hoverRemove(8)"><i class = "icon-remove icon-white"></i></a>
               <h3 class = "text-left">Word8</h3>
               <h3 class = "text-right" id="count8">0</h3>
               <p><a class="btn btn-info" href="javascript:counter(8)">Click &raquo;</a></p>
             </div>
             <div class = "span4 word hide" id="word9">
              <a class = "pull-right" href = "javascript:removeWord(9)" onmouseover = "javascript:hoverRemove(9)" onmouseout="javascript:hoverRemove(9)"><i class = "icon-remove icon-white"></i></a>
               <h3 class = "text-left">Word9</h3>
               <h3 class = "text-right" id="count9">0</h3>
               <p><a class="btn btn-info" href="javascript:counter(9)">Click &raquo;</a></p>
             </div>
           </div>  <!--/row-->
        </div>  <!--/WORD GRID-->


        <!--//////////////////PAGE END///////////////////////-->

      </div>  <!--/row-->

    </div>  <!--/container-->

  </div>  <!--/wrap-->


  <!--Footer-->
  <div class = "container-fluid">
    <footer>
      <ul class = "inline">
        <li><a href = "http://glyphicons.com" target = "_blank">Glyphicons</a></li>
      </ul>
    </footer>
  </div>  <!--/container-->



  <!--////////        All JS loaded here       //////////-->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>
  <script src="../bootstrap/js/bootstrap-select.js"></script>
  <script src="../js/mousetrap.min.js"></script>
  <script src="../js/paper-full.min.js"></script>
  <script src="../js/test.js"></script>
  <script type="text/paperscript" src="../js/clickanim.js" canvas="myCanvas"></script>


  <script src="../FlipClockFiles/js/libs/base.js"></script>
  <script src="../FlipClockFiles/js/flipclock.js"></script>
  <script src="../FlipClockFiles/js/faces/hourlycounter.js"></script>
  <script src="../FlipClockFiles/js/faces/minutecounter.js"></script>
  <script src="../js/logicForClock.js"></script>

  
</body>
</html>